
<nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <img src="/navbar_round.png" width="55" height="55">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <nav id="nav" class="nav justify-content-center">
                        {{ range .Site.Menus.main }}
                        <a class="nav-link" href="{{ .URL }}">
                            {{ if .Pre }}
                            {{ end }}
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                            {{ end }}
                    </nav>
                </div>
        </div>
</nav>
