pre {
    background-color: #000;
    color: #fff;
    font-family: "Consolas", "Monaco", "Lucida Console", monospace; /* Console-Schriftarten */
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    text-indent: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 35px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td,
th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
}
